layout {
    pane split_direction="vertical" {
        pane name="Editor" command="hx" args="."

	   pane split_direction="horizontal" stacked=true {
           pane name="Files" command="yazi"
           pane name="Version Control" command="lazygit"
           pane name="Terminal"
        }

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
            plugin location="zellij:tab-bar"
        }
    }
}
